/*slider*/
// arrows
.slick-arrow
	+size(50px)
	display: block
	position: absolute
	background: none
	border: none
	outline: none
	box-shadow: none
	transition-property: opacity, visibility
	transition-duration: $animation-speed
	z-index: 6

	.no-touchevents &
		opacity: 0
		visibility: hidden

	.no-touchevents .slick-slider:hover &
		opacity: 1
		visibility: visible

	.no-touchevents &:hover
		opacity: 1
		background: none

	&.slick-disabled, .no-touchevents &.slick-disabled
		opacity: 0.25 !important
		//pointer-events: none

		&::before, &::after //clean default style
			opacity: 1

	&:before
		+pseudo()
		+size(100%)
		top: 0
		left: 0
		border-radius: 50%
		border: 2px solid white
		transition-property: background-color, border-color
		transition-duration: $animation-speed

	.no-touchevents &:hover::before
		border-color: $text-color-alt

	&:active::before
		transform: scale(0.95)

	&:after
		+pseudo()
		top: 50%
		opacity: 1
		pointer-events: none
		+size(12px)
		border: 0 solid white
		transform: rotate(45deg)
		transition-property: border-color
		transition-duration: $animation-speed

	.no-touchevents &:hover::after
		border-color: $text-color-alt

.slick-prev
	left: 10px

	&:after
		left: 50%
		border-width: 0 0 2px 2px
		margin: -5px 0 0 -4px

.slick-next
	right: 10px

	&:after
		right: 50%
		border-width: 2px 2px 0 0
		margin: -5px -4px 0 0

// dots
.slick-dots
	margin: 0
	line-height: 0

	.content &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&,
		.content &
			padding: 4px 10px
			margin: 0

			&:before
				content: none

		button
			width: 12px
			height: 12px
			padding: 0
			border-radius: 50%
			background: $text-color-alt
			position: relative
			-webkit-transition-property: background, border, box-shadow, -webkit-transform
			transition-property: background, border, box-shadow, transform
			-webkit-transition-duration: 0.6s
			transition-duration: 0.6s

			&:before
				content: ''
				position: absolute
				left: 2px
				top: 2px
				height: 8px
				width: 8px
				background: #fff
				border-radius: 50%
				opacity: 1
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20)
				-webkit-transition-property: -webkit-transform, opacity
				transition-property: transform, opacity
				-webkit-transition-duration: 0.6s
				transition-duration: 0.6s

.slick-dots li.slick-active button:before
	opacity: 0

//.no-touchevents &:hover button:before

//&.slick-active button:before,
//.no-touchevents &.slick-active:hover button:before
/*slider end*/