/*LAYOUT*/
body
	.no-touchevents &::-webkit-scrollbar
		width: 8px

	.no-touchevents &::-webkit-scrollbar-track
		background-color: #f3f3f3

	.no-touchevents &::-webkit-scrollbar-thumb
		background-color: lightgray

.wrapper
	overflow: hidden
	position: relative
	+push-auto

	&:before
		content: ''
		position: absolute
		left: $page-max-width
		top: 0
		bottom: 0
		width: 40px
		margin-left: -40px
		box-shadow: 5px 0 25px rgba(0, 0, 0, 0.15)
		z-index: -1

.max-wrap
	max-width: $page-max-width
	+padding-horizontal($page-space-horizontal)

.page
	margin-left: $sidebar-width
	background-color: white

	//+media('<desktop-lg')
	+media('<tablet-lg')
		margin-left: 0

.cross
	position: relative
	min-height: 100vh

.main
	padding-top: $header-height
	min-height: 100%
	+clear

/*visual section*/
.visual
	position: fixed
	top: $header-height
	bottom: 0
	width: calc((100% - #{$sidebar-width})/2)
	max-width: calc((#{$page-max-width} - #{$sidebar-width})/2)
	overflow-x: hidden
	overflow-y: auto

	.home-page &
		top: $header-height + $info-strip-height

	.no-touchevents &::-webkit-scrollbar
		width: 8px

	.no-touchevents &::-webkit-scrollbar-track
		background-color: #f3f3f3

	.no-touchevents &::-webkit-scrollbar-thumb
		background-color: lightgray

	+media('<desktop-sm')
		&, .home-page &
			position: relative
			top: auto
			bottom: auto
			width: auto
			max-width: none
			overflow: visible

/*visual section end*/

/* slider strip
.slider-strip
	position: fixed
	top: $header-height
	height: $info-strip-height
	width: calc((100% - #{$sidebar-width})/2)
	max-width: calc((#{$page-max-width} - #{$sidebar-width})/2)
	border-right: 1px solid $border-color
	z-index: 2

	+media('<desktop-sm')
		top: auto
		position: relative
		width: auto
		max-width: none

/* slider strip end

/*content*/
.content
	+margin-vertical($layout-space-horizontal, $bottom-space-section)
	background-color: white

	+media('<desktop-hd')
		+margin-vertical($layout-space-horizontal-lg, $bottom-space-section)

	+media('<desktop-md')
		+margin-vertical($layout-space-horizontal-md, $bottom-space-section)

	+media('<desktop-sm')
		margin-top: 0

	.visual ~ &
		margin-left: $visual-width

		+media('<desktop-sm')
			margin-left: 0

		+media('<tablet-sm')
			+margin-vertical($layout-space-horizontal-sm, $layout-space-horizontal-sm*2)

/*content end*/

.header
	position: fixed
	top: 0
	z-index: 10
	width: calc(100% - #{$sidebar-width})
	max-width: #{$page-max-width - $sidebar-width}
	height: $header-height
	background-color: $sidebar-bg-color
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15)
	transition-property: box-shadow, border-color, height, padding-top
	transition-duration: $animation-speed

	+media('<tablet-lg')
		width: 100%
		max-width: none

.footer
	position: relative
	height: 0
	z-index: 10

.user-section
	margin-bottom: $bottom-space

.layout
	+padding-horizontal($layout-space-horizontal)

	+media('<desktop-hd')
		+padding-horizontal($layout-space-horizontal-lg)

	+media('<desktop-md')
		+padding-horizontal($layout-space-horizontal-md)

	+media('<tablet-sm')
		+padding-horizontal($layout-space-horizontal-sm)

/*LAYOUT end*/