/*LAYOUT*/
.wrapper
	overflow: hidden
	position: relative
	+push-auto

	&:before
		content: ''
		position: absolute
		left: $page-max-width
		top: 0
		bottom: 0
		width: 40px
		margin-left: -40px
		box-shadow: 5px 0 25px rgba(0, 0, 0, 0.15)
		z-index: -1

.max-wrap
	max-width: $page-max-width
	+padding-horizontal($page-space-horizontal)

.page
	margin-left: $sidebar-width
	background-color: white

.cross
	position: relative
	min-height: 100vh

.main
	padding-top: $header-height
	min-height: 100%
	+clear

.content
	+margin-vertical($layout-space-horizontal)
	background-color: white

	.visual ~ &
		margin-left: $visual-width

.header
	position: fixed
	top: 0
	z-index: 5
	width: calc(100% - #{$sidebar-width})
	max-width: #{$page-max-width - $sidebar-width}
	height: $header-height
	background-color: white
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15)
	transition-property: box-shadow, border-color, height, padding-top
	transition-duration: $animation-speed

.footer
	position: relative
	height: 0
	z-index: 5

.user-section
	margin-bottom: $bottom-space

.layout
	+padding-horizontal($layout-space-horizontal)

/*LAYOUT end*/