/*LAYOUT*/
.wrapper
	overflow: hidden
	position: relative
	+push-auto

	&:before
		content: ''
		position: absolute
		left: $page-max-width
		top: 0
		bottom: 0
		width: 40px
		margin-left: -40px
		box-shadow: 5px 0 25px rgba(0, 0, 0, 0.15)

.max-wrap
	max-width: $page-max-width
	+padding-horizontal($page-space-horizontal)
	+push-auto

.page
	margin-left: $sidebar-width

.cross
	position: relative
	min-height: 100vh

.main
	padding-top: $header-height
	min-height: 100%
	+clear

.visual
	position: fixed
	bottom: 0
	min-height: 100%
	width: calc((100% - #{$sidebar-width})/2)

.content
	+margin-vertical($bottom-space)
	background-color: white

	.visual ~ &
		margin-left: $visual-width

.header
	position: fixed
	top: 0
	z-index: 5
	width: calc(100% - #{$sidebar-width})
	max-width: #{$page-max-width - $sidebar-width}
	height: $header-height
	background-color: white
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15)
	transition-property: box-shadow, border-color, height, padding-top
	transition-duration: $animation-speed

.sidebar
	position: fixed
	left: 0
	top: 0
	min-height: 100vh
	width: $sidebar-width
	background-color: $sidebar-bg-color

.footer
	position: relative
	height: 0
	z-index: 5

.footer__holder
	position: absolute
	left: $visual-width
	bottom: 0
	right: 0

	background-color: lightgreen

.user-section
	margin-bottom: $bottom-space

.layout
	+padding-horizontal($layout-space-horizontal)

/*LAYOUT end*/