/*SIDEBAR*/
/*sidebar layout*/
.sidebar
	position: fixed
	left: 0
	top: 0
	height: 100%
	width: $sidebar-width
	padding-top: $logo-height
	background-color: $sidebar-bg-color
	overflow: hidden

.sidebar__holder
	overflow-x: auto
	overflow-y: auto
	height: 100%

	.no-touchevents &, .desktop &
		width: ($sidebar-width+30px)

.sidebar__frame
	width: $sidebar-width

/*sidebar layout end*/

/*logo*/
.logo
	display: block
	background: url(../../img/logo.png) no-repeat center center
	background-size: 229px
	width: 229px
	height: 55px
	text-indent: -9999px
	overflow: hidden
	margin: 0 2rem 0 0

	.sidebar &
		position: fixed
		left: 0
		top: 0
		margin: 0
		width: $sidebar-width
		height: $logo-height
		background-color: $sidebar-bg-color
		background-position: $sidebar-inside-space 50%
		border-bottom: 1px solid $sidebar-border-color
		z-index: 100

	a
		display: block
		height: 100%

/*logo end*/

.sidebar__widget
	padding: round-float($sidebar-inside-space*0.75, 0) $sidebar-inside-space
	color: white
	+font(1.4rem, 1.5)

	h3
		+font(2.2rem, 1.3)
		color: white

/*SIDEBAR end*/